.mission {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: .5em 1em;
    border-radius: .5em;
    background: var(--bg-lighter-color);
    font-size: 1.2em;
    color: var(--fg-color);
    cursor: pointer;
    text-decoration: none;
}

.mission > svg {
    flex-shrink: 0;
}

.mission.locked {
    background: var(--bg-darker-color);
    color: var(--fg-darker-color);
    cursor: default;
}

.mission.completed {
    background: var(--primary-color);
}

.mission--tile {
    margin-left: auto;
    width: 1em;
    height: 1em;
}
