.game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.game .game-header {
  margin: .5em;
}

.game .details {
  margin: 0 .5em;
  place-content: end;
}

.game-end {
  font-size: 3em;
  text-align: center;
}
