.home {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  width: 100%;
}

.home-name {
  font-size: 4em;
  text-align: center;
  margin: .2em 0 0;
}

.home-tiles {
  display: flex;
  padding: 0 2em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
}

.home-tiles > .tiles-table {
  width: 100%;
  height: 100%;
}

.home-menu {
  display: grid;
  grid-template: auto / 1fr;
  padding: 1em;
  gap: .5em;
}

.home-menu > .button {
  width: 100%;
  padding: 1em 2em;
}

@media (min-width: 400px) {
  .home-menu {
    grid-template: auto / repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .home-menu {
    grid-template: auto / repeat(3, 1fr);
  }
}
