.home {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.home-menu,
.home-promo {
  display: flex;
  place-items: center;
  place-content: center;
  padding: 1em;
}

.home-menu {
  flex-direction: column;
  place-content: end;
  min-width: 25%;
  gap: .5em;
}

.home-menu > .button {
  width: 100%;
  padding: 1em 2em;
}

.home-promo {
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  place-content: end;
}

.home-tiles {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 2em;
  width: 100%;
  align-content: center;
  justify-items: center;
  overflow: hidden;
  max-height: 400px;
}

.home .tile {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.home h1 {
  font-size: 4em;
  line-height: 1;
  margin-bottom: .5em;
}

@media (min-aspect-ratio: 2/1) and (max-height: 400px) {
  .home-tiles {
    grid-template: auto / repeat(4, 1fr);
    max-height: 40svh;
  }

  .home-promo {
    place-content: center;
  }
}

@media (min-aspect-ratio: 3/1) {
  .home-tiles {
    grid-template: auto / repeat(4, 1fr);
    max-height: 40svh;
  }

  .home-promo {
    place-content: center;
  }
}

@media (max-aspect-ratio: 1/1) {
  .home {
    flex-direction: column;
  }

  .home-tiles {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

  .home-promo {
    place-content: center;
  }

  .home-menu {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
  }

  .home-menu > .button:nth-child(1) {
    grid-column: 1 / span 2;
  }
}

@media (max-aspect-ratio: 1/1) and (max-height: 450px) {
  .home-tiles {
    grid-template: auto / repeat(4, 1fr);
  }
}
