.online-game-code-input {
  font-size: 1.2em;
  margin-bottom: .5em;
  background-color: #bbb;
}

.online-player-name-input {
  font-size: 1.2em;
  margin-bottom: .5em;
}

.online-game-code {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
}

.online-game-link {
  font-size: 0.9em;
  margin-bottom: .5em;
}

@media (min-width: 700px) {
  .online-profile {
    flex-direction: row;
    min-width: 100%;
    justify-content: center;
    gap: 1em;
  }
}
