.rules {
  padding: 1em;
  place-content: start;
  max-height: 100%;
  overflow-y: auto;
  max-width: 1000px;
}

.rules-tile {
  height: 10em;
  width: 10em;
  cursor: pointer;
}

.rules-options {
  margin-top: 2em;
  display: flex;
  gap: 1em;
  place-items: center;
}

.rules-example {
  height: 6em;
  gap: .5em;
}

.rules > p {
  margin: 0.5em 0;
}

.rules li {
  margin-left: 2em;
}

.rules h2 {
  margin-top: 1em;
}

.rules h4 {
  margin: .7em 0 .3em;
  text-transform: capitalize;
}
