.game-header {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
}

.game-header-actions {
  display: flex;
  flex-wrap: wrap;
  gap: .2em;
}

.game-header-actions button,
.game-header-actions .button {
  display: flex;
  place-content: center;
  place-items: center;
}

.game-header-actions button {
  padding: 0.3em 0.6em;
  font-size: 1.5em;
}

.game-header-status {
  display: flex;
  margin-left: auto;
  font-size: 1.6em;
  gap: .5em;
  place-items: center;
}

.game-header-status .game-timer {
  font-weight: bold;
}
