.intro {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.intro-goal {
  text-align: center;
  margin: 1em;
}

.intro-options {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  overflow: hidden;
  max-width: 100%;
}

.intro-tile {
  padding: 1em;
  border-radius: 1em;
  background: var(--bg-lighter-color);
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  place-content: end;
  place-items: center;
}

.intro-footer {
  margin-top: .5em;
  display: flex;
  place-content: center;
}

.intro-hint {
  margin-bottom: .5em;
  text-align: center;
}

@media (max-aspect-ratio: 1/1) {
  .intro-options {
    display: flex;
    padding: 1em;
    flex-direction: column;
  }
}
