.intro {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.intro-goal {
  text-align: center;
  margin: 1em;
}

.intro-options {
  display: flex;
  gap: 1em;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 1em;
  max-width: calc(100% - 1em);
}

.intro-options > .intro-tile {
  max-width: 100%;
}

.intro-footer {
  margin-top: .5em;
  display: flex;
  place-content: center;
}

.intro-hint {
  margin-bottom: .5em;
  text-align: center;
}
