.tile.selected {
  color: var(--highlight-color);
  filter: drop-shadow(0px 0px .3em var(--highlight-color));
}

@media (hover: hover) and (pointer: fine) {
  .tile:hover {
    filter: drop-shadow(0px 0px .3em var(--highlight-color));
  }
}
