.online-winners {
    margin: .5em 0 1em;
    display: flex;
    place-items: center;
    gap: .5em;
    font-size: 1.5em;
}

.online-results {
    width: calc(100% - 2em);
    margin: 1em .5em;
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    background: var(--bg-lighter-color);
    border-radius: 1em;
    gap: 1em;
    align-items: center;
    font-size: 1.2em;
    flex-shrink: 0;
}

.online-result-score,
.online-result-missed {
    place-self: center;
}

.online-result-name,
.online-result-score {
    font-weight: bold;
}

.online-result-header {
    font-size: 0.8em;
    font-weight: normal;
    text-transform: uppercase;
}

.online-result-color.color-tag {
    width: 3em;
    height: 3em;
}
