.online-status {
  display: grid;
  place-content: center;
  place-items: center;
  /*background: var(--bg-lighter-color);*/
  /*border-radius: 1em;*/
  gap: 1em;
}

.online-players {
  display: flex;
  gap: .5em;
  font-size: 1.8em;
  flex-wrap: wrap;
  place-content: center;
}

.color-tag.online-player {
  padding: .4em .6em;
  display: inline-flex;
  gap: .3em;
  place-content: center;
  place-items: center;
}

.color-tag.online-player > .animated {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
