:root {
  --fg-color: #e3e3e3;
  --bg-color: #333;
  --bg-button: #1a1a1a;
  --bg-darker-color: #101010;
  --bg-lighter-color: #494949;
  --highlight-color: gold;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--fg-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, #root {
  margin: 0;
  display: flex;
  place-content: center;
  place-items: center;
  width: 100svw;
  height: 100svh;
}

a {
  font-weight: 500;
  color: #3670e8;
  text-decoration: underline;
}

a:hover {
  color: var(--highlight-color);
}

button, .button {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--fg-color);
  background-color: var(--bg-button);
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
button.selected,
.button.selected {
  background-color: #a18d3f;
}
button:hover,
.button:hover {
  border-color: var(--highlight-color);
}
button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
  outline: 4px auto var(--highlight-color);
}
button[disabled],
button.disabled,
.button.disabled {
  background-color: var(--bg-darker-color);
  color: var(--bg-lighter-color);
  cursor: default;
}
button[disabled]:hover,
button.disabled:hover,
.button.disabled:hover {
  border-color: transparent;
}

.tile {
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1000px) and (min-height: 600px) {
  .limited {
    width: 1000px;
    height: 600px;
  }
}
