:root {
  --fg-color: #e3e3e3;
  --fg-darker-color: #b1b1b1;
  --bg-color: #333;
  --bg-button: #1a1a1a;
  --bg-darker-color: #101010;
  --bg-lighter-color: #494949;
  --bg-modal-color: rgba(73, 73, 73, 0.8);
  --highlight-color: gold;
  --primary-color: #729E07;
  --btn-vpadding: 0.5em;
  --btn-hpadding: 1em;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--fg-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, #root {
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100svh;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: underline;
}

a:hover {
  color: var(--highlight-color);
}

input {
  display: inline-block;
  border-radius: 8px;
  border: 4px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: border-color 0.25s;
}

button, .button {
  display: inline-flex;
  align-items: center;
  line-height: 1.2em;
  border-radius: 8px;
  border: 4px solid transparent;
  padding: var(--btn-vpadding) var(--btn-hpadding);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--fg-color);
  background-color: var(--bg-button);
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
}
button.selected,
.button.selected {
  background-color: #a18d3f;
}
button:hover,
.button:hover {
  border-color: var(--highlight-color);
}
button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
  outline: 4px auto var(--highlight-color);
}
button[disabled],
button.disabled,
.button.disabled {
  background-color: var(--bg-darker-color);
  color: var(--bg-lighter-color);
  cursor: default;
}
button[disabled]:hover,
button.disabled:hover,
.button.disabled:hover {
  border-color: transparent;
}

.button.non-interactive:hover {
  border-color: transparent;
  cursor: default;
}

button.primary,
.button.primary {
  background-color: var(--primary-color);
}
button.primary:hover,
.button.primary:hover {
  border-color: var(--highlight-color);
  color: var(--highlight-color);
}

.tile {
  -webkit-tap-highlight-color: transparent;
}

.limited {
  align-self: center;
  margin: 0 auto;
  max-height: 100svh;
  max-width: 100svw;
}

.centered {
  align-self: center;
  margin: 1em auto;
  max-width: 100svw;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .limited {
    width: 1000px;
    height: 700px;
  }
}
